<!doctype html>
<html>
  <head>
    <title>React Isomorphic Test</title>
    <link href='/styles.css' rel="stylesheet">
  </head>
  <body>
   <div id="react-main-mount">
      <%- reactOutput %>
    </div>
	 <script src="/main.js"></script>
  </body>
</html>
